<p style="color: green"><%= notice %></p>

<section>
  <table id="foods" class="information-box">
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit Price</th>
        <th>Action</th>
      </tr>
    </thead>
  <tbody>
    <%= render @food %>
  </tbody>
  </table>
  
  <div class="information-box">
    <div>
      <%= link_to "Edit this food", edit_food_path(@food) %> |
      <%= link_to "Back to foods", foods_path %>
    </div>
    <%= button_to "Destroy this food", @food, method: :delete %>
  </div>

</section>
